# ========== OS ==========

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ========== Node ==========

node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml

# ========== Metro Bundler ==========

*.jsbundle
*.packager.*
.bundle/
.config/
logs/
*.tmp
.expo/

# ========== Android ==========

android/.gradle/
android/.idea/
android/app/build/
android/build/
*.iml
*.keystore
*.hprof
local.properties
.cxx/

# ========== iOS ==========

ios/Pods/
ios/Build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/*.xcuserstate
ios/*.xcodeproj/*.pbxuser
ios/*.xcodeproj/*.mode1v3
ios/*.xcodeproj/*.mode2v3
ios/*.xcodeproj/*.perspectivev3
**/.xcode.env.local

# ========== Ruby / CocoaPods ==========

vendor/
Gemfile.lock

# ========== TypeScript ==========

*.tsbuildinfo

# ========== Testing ==========

coverage/
__tests__/

# ========== Watchman ==========

.watchmanconfig

# ========== Editor / IDE ==========

.vscode/
.idea/
*.swp
*.swo

# ========== Misc ==========

*.log
.env
.env.*
